<!DOCTYPE html>
<html lang="en">

<body>


  <script>
    $(document).ready(function () {
      $('#tasks').DataTable({
        order: [[3, 'desc']],
      });
      $('#tasksquestions').DataTable({
        order: [[3, 'desc']],
      });
      $('#viewtask').DataTable({
        'columnDefs': [
          {
            'targets': 0,
            'checkboxes': {
              'selectRow': true
            }
          }
        ],
        'select': {
          'style': 'multi'
        },
        'order': [[1, 'asc']]

      });
    });
  </script>


  <div class="container-xl  ">
    <div class="row">
      <div class="">

        <!-- Table           -->
        <div class="row">
          <div class="col-12">
            <table class="display" style="border: 1px solid #00000030;" id="viewtask">
              <thead style="background-color: aliceblue;">
                <tr>
                  <th scope="col">Select</th>
                  <th scope="col">Task Name</th>
                  <th scope="col">Date Assigned</th>
                  <th scope="col">Due Date</th>
                  <th scope="col" style="text-align: center;">View/Edit</th>
                  <th scope="col" style="text-align: center;">Analytics</th>
                  <th scope="col" style="text-align: center;">Delete</th>

                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><input type="checkbox"></td>
                  <td>Task 1</td>
                  <td>24-Jan-23</td>
                  <td>1-Feb-23</td>



                  <!-- <td><a href="" data-toggle="model" data-target="exampleModalLong"><img src="https://cdn-icons-png.flaticon.com/512/4430/4430608.png" class="center" alt="Icon" width="24" height="24"></a></td> -->
                  <td style="text-align: center;"> <button type="button" class="btn" data-bs-toggle="modal"
                      data-bs-target="#staticBackdrop">
                      <img src="https://cdn-icons-png.flaticon.com/512/4430/4430608.png" alt="Icon" width="24"
                        height="24">
                    </button></td>
                  <td style="text-align: center;"><a href="/teacher/analytics"><img
                        src="https://cdn-icons-png.flaticon.com/512/1548/1548914.png" class="center" data-toggle="modal"
                        data-target="#assigntaskmodel" alt="Icon" width="24" height="24"></a></td>
                  <td style="text-align: center;"> <button type="submit" style="border: none; background: none;"><img
                        src="https://cdn-icons-png.flaticon.com/512/2907/2907762.png" alt="Icon" width="24"
                        height="24"></button></td>
                </tr>
                <tr>
                  <td><input type="checkbox"></td>
                  <td>Task 2</td>
                  <td>24-Jan-23</td>
                  <td>1-Feb-23</td>
                  <script>
                  function showDivquestionCard() {
                    console.log("showDivquestionCard")
                    document.getElementById('questionCard').style.display = "block";
                    var elem=document.getElementById('questionCard');
                    console.log(elem)
                    elem.scrollIntoView();
                 }</script>
                  <td style="text-align: center;" onclick="showDivquestionCard()"><img src="https://cdn-icons-png.flaticon.com/512/4430/4430608.png"
                      class="center" data-toggle="modal" data-target="#assigntaskmodel" alt="Icon" width="24"
                      height="24"></td>
                  <td style="text-align: center;"><a href="/teacher/analytics"><img
                        src="https://cdn-icons-png.flaticon.com/512/1548/1548914.png" class="center" data-toggle="modal"
                        data-target="#assigntaskmodel" alt="Icon" width="24" height="24"></a></td>
                  <td style="text-align: center;"> <button type="submit" style="border: none; background: none;"><img
                        src="https://cdn-icons-png.flaticon.com/512/2907/2907762.png" alt="Icon" width="24"
                        height="24"></button></td>
                </tr>
                <tr>
                  <td><input type="checkbox"></td>
                  <td>Task 3</td>
                  <td>24-Jan-23</td>
                  <td>1-Feb-23</td>
                  <td style="text-align: center;"><img src="https://cdn-icons-png.flaticon.com/512/4430/4430608.png"
                      class="center" data-toggle="modal" data-target="#assigntaskmodel" alt="Icon" width="24"
                      height="24"></td>
                  <td style="text-align: center;"><a href="/teacher/analytics"><img
                        src="https://cdn-icons-png.flaticon.com/512/1548/1548914.png" class="center" data-toggle="modal"
                        data-target="#assigntaskmodel" alt="Icon" width="24" height="24"></a></td>
                  <td style="text-align: center;"> <button type="submit" style="border: none; background: none;"><img
                        src="https://cdn-icons-png.flaticon.com/512/2907/2907762.png" alt="Icon" width="24"
                        height="24"></button></td>
                </tr>
                <tr>
                  <td><input type="checkbox"></td>
                  <td>Task 4</td>
                  <td>24-Jan-23</td>
                  <td>1-Feb-23</td>
                  <td style="text-align: center;"><img src="https://cdn-icons-png.flaticon.com/512/4430/4430608.png"
                      class="center" data-toggle="modal" data-target="#assigntaskmodel" alt="Icon" width="24"
                      height="24"></td>
                  <td style="text-align: center;"><a href="/teacher/analytics"><img
                        src="https://cdn-icons-png.flaticon.com/512/1548/1548914.png" class="center" data-toggle="modal"
                        data-target="#assigntaskmodel" alt="Icon" width="24" height="24"></a></td>
                  <td style="text-align: center;"> <button type="submit" style="border: none; background: none;"><img
                        src="https://cdn-icons-png.flaticon.com/512/2907/2907762.png" alt="Icon" width="24"
                        height="24"></button></td>
                </tr>
              </tbody>
            </table>
          </div>
          <style>
            hr.dotted {
              border-top: 3px dotted #bbb;
            }
          </style>
          
          <!-- question table card -->
          <div class="row" id="questionCard" style="display: none">
            <div class="col-md-12">
              <hr class="dotted">

              <div class="card">
                <div class="card-header" style="text-align: center;">Question in the Task 1</div>
                <div class="card-body">
              <table class="display" style="border: 1px solid #00000030;" id="tasksquestions">
                <thead>
                  <tr>
                    <th scope="col">Select</th> 
                    <th scope="col">Question</th>
                    <th scope="col">Topic</th>
                    <th scope="col">Sub-Topic</th>
                    <th scope="col">Month</th>
                    <th scope="col">Year</th>
                    <th scope="col">Standard</th>
                    <th scope="col">Difficulty</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><input type="checkbox"></td>
                    <td>Question 1</td>
                    <td>Algebra</td>
                    <td>Linear Equation</td>
                    <td>January</td>
                    <td>2022</td>
                    <td>Standard 1</td>
                    <td>Easy</td>
                  </tr>
                  <tr>
                    <td><input type="checkbox"></td>
                    <td>Question 2</td>
                    <td>Algebra</td>
                    <td>System of Equations</td>
                    <td>June</td>
                    <td>2022</td>
                    <td>Standard 2</td>
                    <td>Difficult</td>
                  </tr>
                </tbody>
              </table>
              <button type="button" onclick="showfilter()" aria-expanded="false" aria-controls="collapseExample1"  class="btn btn-primary btn-sm">
                
                Add Question&nbsp;<i class="fa fa-arrow-down"> </i>
              </button>
              <script>
                  function showfilter(){
                    console.log("filtercollapse")
                    if(document.getElementById('filtercollapse').style.display == "none"){
                    document.getElementById('filtercollapse').style.display = "block";
                    }
                    else{
                      document.getElementById('filtercollapse').style.display = "none";
                    }
                    var elem=document.getElementById('filtercollapse');
                    console.log(elem)
                    elem.scrollIntoView();
                  }
              </script>
              <div class="card" style="display: none;" id="filtercollapse" >
                <div class=" card-body" style="background-color: aliceblue;" >
                  <!-- Add Question -->
                  <div class="row">
                    <div class="col md-8">
                      
                      <div class="row">
                        <div class="col-12">

                          <script>
                            $(document).ready(function () {
                             $('#assigntask1').DataTable({
                           'columnDefs': [
                           {
                              'targets': 0,
                              'checkboxes': {
                                 'selectRow': true
                              }
                           }
                        ],
                        'select': {
                           'style': 'multi'
                        },
                        'order': [[1, 'asc']],
                     
                       //  "bPaginate": false,
                       //   "bLengthChange": false,
                       //   "bFilter": true,
                       //   "bInfo": false,
                       //   "bAutoWidth": false 
                             
                         });
                         $('#tasks').DataTable({
                             order: [[3, 'desc']],
                         });
                         $('#viewtas').DataTable({
                           'columnDefs': [
                           {
                              'targets': 0,
                              'checkboxes': {
                                 'selectRow': true
                              }
                           }
                        ],
                        'select': {
                           'style': 'multi'
                        },
                        'order': [[1, 'asc']]
                             
                         });
                       });
                         </script>

                          <table class="display "  id="assigntask1" style="font-size: small;">
                            
                            <thead >
                              <tr>
                                <th scope="col">Select</th> 
                                <th scope="col">Question</th>
                                <th scope="col">Topic</th>
                                <th scope="col">Sub-Topic</th>
                                <th scope="col">Month</th>
                                <th scope="col">Year</th>
                                <th scope="col">Standard</th>
                                <th scope="col">Difficulty</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td><input type="checkbox"></td>
                                <td>Question 1</td>
                                <td>Topic 1</td>
                                <td>Sub-Topic 1</td>
                                <td>January</td>
                                <td>2022</td>
                                <td>Standard 1</td>
                                <td>Easy</td>
                              </tr>
                              <tr>
                                <td><input type="checkbox"></td>
                                <td>Question 2</td>
                                <td>Topic 2</td>
                                <td>Sub-Topic 2</td>
                                <td>February</td>
                                <td>2022</td>
                                <td>Standard 2</td>
                                <td>Difficult</td>
                              </tr>
                              <tr>
                                <td><input type="checkbox"></td>
                                <td>Question 3</td>
                                <td>Topic 2</td>
                                <td>Sub-Topic 2</td>
                                <td>February</td>
                                <td>2022</td>
                                <td>Standard 2</td>
                                <td>Difficult</td>
                              </tr>
                              <tr>
                                <td><input type="checkbox"></td>
                                <td>Question 4</td>
                                <td>Topic 2</td>
                                <td>Sub-Topic 2</td>
                                <td>February</td>
                                <td>2022</td>
                                <td>Standard 2</td>
                                <td>Difficult</td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                    <div class="col-1" style="width:auto;" >
                      <div class="vr" style="height: 370px"></div>
                    </div>
                   
                    
                    <div class="col" >   
                         <div class="">
                        <div class="row">
                          <div class="col input-group input-group-sm mb-3">
                            <label for="taskname" class="input-group-text">Task Name:</label>
                            <input type="text" class="form-control" aria-label="Task Name"  placeholder="Taskname">
                            </div><div class="col input-group input-group-sm mb-3">
                            <label for="date" class="input-group-text">Date:</label>
                            <input type="date" class="form-control" id="date"  >
                            
                          </div>
                        </div>
                        <div class="row">
                          <div class="col input-group input-group-sm mb-3">
                            <label for="due-date" class="input-group-text">Due Date:</label>
                              <input type="date" class="form-control" id="due-date" name="due-date">
                            </div><div class="col input-group input-group-sm mb-3">
                              <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                            <i class="fa fa-filter"> </i>
                          </button>
                          </div>
                        </div>
                      
                      </div>
                        <!-- Collapse -->
                      
                        <div class="collapse" id="collapseExample">
                          <div class="card card-body">
                            <div class="row">
                              <div class="col-6">
                                <div class="input-group input-group-sm mb-3 ">
                                  <label for="year" class="input-group-text">Year :  &nbsp;&nbsp;&nbsp;&nbsp; </label>
                                    <select class="form-select select2" id="year" name="year" placeholder="Select">
                                      <option selected disabled>Select</option>
                                      <option value="2010">2010</option>
                                      <option value="2011">2011</option>
                                      <option value="2012">2012</option>
                                      <option value="2013">2013</option>
                                      <option value="2014">2014</option>
                                      <option value="2015">2015</option>
                                      <option value="2016">2016</option>
                                      <option value="2017">2017</option>
                                      <option value="2018">2018</option>
                                      <option value="2019">2019</option>
                                      <option value="2020">2020</option>
                                      <option value="2021">2021</option>
                                    </select>
                                </div>
                              </div>
                              <div class="col">
                                <div class="input-group input-group-sm mb-3 ">
                                  <label for="month" class="input-group-text">Month :  &nbsp;</label>
                                    <select class="form-select select2 form-control" id="month" name="month">
                                      <option selected>Choose...</option>
                                      <option value="January">January</option>
                                      <option value="June">June</option>
                                      <option value="August">August</option>
                                    </select>
                                </div>
                              </div>
                           </div>
            
                            <div class="row">
                              <div class="col-6">
                                <div class="input-group input-group-sm mb-3 ">
                                  <label for="topic" class="input-group-text">Topic :  &nbsp;</label>
                                    <select class="form-select select2" id="topic" name="topic">
                                      <option selected disabled>Topic...</option>
                                      <option value="Algebra 1">Algebra 1</option>
                                      <option value="Algebra 2">Algebra 2</option>
                                      <option value="Geometry">Geometry</option>
                                      <option value="Calcus">Calcus</option>
                                      <option value="Topic 4">Topic 4</option>
                                      <option value="Topic 5">Topic 5</option>
                                      <option value="Topic 6">Topic 6</option>
                                    </select>
                                </div>
                              </div>
                              <div class="col-6">
                                <div class="input-group input-group-sm mb-3 ">
                                  <label for="subtopic" class="input-group-text">Sub-Topic:</label>
                                    <select class="form-select" id="subtopic" name="subtopic">
                                      <option selected>Choose...</option>
                                      <option value="Sub-Topic 1">Sub-Topic 1</option>
                                      <option value="Sub-Topic 2">Sub-Topic 2</option>
                                    </select>
                                </div>
                              </div>
                            </div>
            
                            <div class="row">
                              <div class="col-6">
                                <div class="input-group input-group-sm mb-3 ">
                                  <label for="standard" class="input-group-text">Standard:</label>
                                    <select class="form-select" id="standard" name="standard">
                                      <option selected>Choose...</option>
                                      <option value="Algebra 1">Standard 1</option>
                                      <option value="Algebra 2">Standard 2</option>
                                    </select>
                                </div>
                              </div>
                              <div class="col-6">
                                <div class="input-group input-group-sm mb-3 ">
                                  <label for="diffculity" class="input-group-text">Diffculity:</label>
                                  <select class="form-select" id="subtopic" name="subtopic">
                                    <option selected>Choose...</option>
                                    <option value="Hard">Hard</option>
                                    <option value="Medium">Medium</option>
                                    <option value="Easy">Easy</option>
                                  </select>
                                </div>
                              </div>
                           </div>
                           <div class="float-end">
                            <button class="btn btn-primary btn-sm">Apply</button>
                           </div>
                          </div>
                        </div>
                        <!-- Collapse -->
                       
                    </div>
                  </div>
                  <div class="row">
                    <div class="col" style="align-items: center;">
                      
                      <button type="button" class="btn btn-primary btn-sm justify-content-center  " data-bs-toggle="tooltip" title="Add Selected to the Task 2"> Assign </button>
                      <script>
                        // Initialize tooltips
                        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
                        var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
                          return new bootstrap.Tooltip(tooltipTriggerEl)
                        })
                        </script>
                    </div>
                  </div>
                  <!-- Add Question -->

                </div>
              </div>
            </div>
            </div>
            </div>
          </div>
          <!-- Question tbale card -->


        </div>
        <div class="modal-footer justify-content-center">
          <div class="btn-group" >
              <button class="btn btn-danger">Delete</button>&nbsp;
              <button class="btn btn-primary">Assign Task</button>
          </div>
        </div>

      </div>
    </div>
  </div>
  <!-- container -->




  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>



  <!-- Modal -->
  <!-- <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Questions in Task</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-12">
              <table class="display" id="tasks">
                <thead>
                  <tr>
                    <th scope="col">Select</th> 
                    <th scope="col">Question</th>
                    <th scope="col">Topic</th>
                    <th scope="col">Sub-Topic</th>
                    <th scope="col">Month</th>
                    <th scope="col">Year</th>
                    <th scope="col">Standard</th>
                    <th scope="col">Difficulty</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><input type="checkbox"></td>
                    <td>Question 1</td>
                    <td>Algebra</td>
                    <td>Linear Equation</td>
                    <td>January</td>
                    <td>2022</td>
                    <td>Standard 1</td>
                    <td>Easy</td>
                  </tr>
                  <tr>
                    <td><input type="checkbox"></td>
                    <td>Question 2</td>
                    <td>Algebra</td>
                    <td>System of Equations</td>
                    <td>June</td>
                    <td>2022</td>
                    <td>Standard 2</td>
                    <td>Difficult</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save Changes</button>
          <button type="button" class="btn btn-primary">Delete</button>
          <button type="button" class="btn btn-primary">Add Question</button>


        </div>
      </div>
    </div>
  </div> -->




  <div style="flex-grow:1"></div>



</body>



</html>