<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exam Study Tool</title>
</head>
<body>
    <p><h1>Please Wait to be Approved by the admin</h1></p>
</body>
</html>