<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.108.0">
    <title>Exam Study Tool</title>

    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/s_index.css" rel="stylesheet">
    
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-light fixed-top bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Exam Study Tool</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Contact Us</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <main style="background-color: #F1F1F7;">

        <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="bd-placeholder-img" width="100%" height="100%" src="/images/index1_3.png"
                        aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
                    <rect width="100%" height="100%" fill="#777" /></img>

                    <div class="container">
                        <div class="carousel-caption">
                            <h1>Product tag Line</h1>
                            <p>Product sub tag line - description</p>
                            <p><a class="btn btn-lg btn-primary" href="/auth/google">Get Started</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Marketing messaging and featurettes
  ================================================== -->
        <!-- Wrap the rest of the page in another container to center all the content. -->

        <div class="container marketing">

            <!-- Three columns of text below the carousel -->
            <div class="row">
                <div class="col-lg-4">
                    <div class="card" style="width:400px; border-color: #F1F1F7;">
                        <img class="card-img-top" src="/images/Education-Isometric-Illustration.jpg"
                            alt="Card image" style="width:100%">
                        <div class="card-body">
                            <h4 class="card-title">LEARNING</h4>
                            <p class="card-text">Some example text some example text. John Doe is an architect and
                                engineer. ome example text some example text. John Doe is an architect and engineer ome
                                example text some example text. John Doe is an architect and engineer.</p>
                        </div>
                    </div>
                </div><!-- /.col-lg-4 -->
                <div class="col-lg-4">
                    <div class="card" style="width:400px; border-color: #F1F1F7;">
                        <img class="card-img-top" src="/images/assessment.png" alt="Card image"
                            style="width:100%; height: 300px;">
                        <div class="card-body">
                            <h4 class="card-title">ASSESSMENTS</h4>
                            <p class="card-text">Some example text some example text. John Doe is an architect and
                                engineer. ome example text some example text. John Doe is an architect and engineer ome
                                example text some example text. John Doe is an architect and engineer.</p>
                        </div>
                    </div>
                </div><!-- /.col-lg-4 -->
                <div class="col-lg-4">
                    <div class="card" style="width:400px; border-color: #F1F1F7;">
                        <img class="card-img-top" src="/images/dash.png" alt="Card image"
                            style="width:100%; height:300px;">
                        <div class="card-body">
                            <h4 class="card-title">PERFORMANCE DASHBOARD</h4>
                            <p class="card-text">Some example text some example text. John Doe is an architect and
                                engineer. ome example text some example text. John Doe is an architect and engineer ome
                                example text some example text. John Doe is an architect and engineer.</p>
                        </div>
                    </div>
                </div><!-- /.col-lg-4 -->
            </div><!-- /.row -->
        </div>
        <div style="background-color:white; align-content: center; ">

            <!-- START THE FEATURETTES -->

            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-1">
                </div>
                <div class="col-md-6">
                    <h2 class="featurette-heading fw-normal lh-1">About <span class="text-muted">Regent's Study
                            Tool</span></h2>
                    <p></p>
                    <p class="lead">The goal of this project is to create a comprehensive, user-friendly study platform
                        for students taking the NYS Math Regent Examination. Designed specifically for English language
                        learners, the website aims to equip students with the necessary tools and resources to excel in
                        subjects like Algebra 1 and beyond. By providing dedicated problems sets by teachers, practice
                        exams and performance tracking to help students and teachers monitor their progress and identify
                        areas where they need to focus their efforts, we aim to empower students to reach their full
                        potential and achieve proficiency in these important exams.</p>
                </div>
                <div class="col-md-5">
                    <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
                        height="500" src="/images/about.png" aria-label="Placeholder: 500x500"
                        preserveAspectRatio="xMidYMid slice" focusable="false">
                    <title>Placeholder</title>
                    <rect width="100%" height="100%" fill="#eee" /></img>
                </div>
            </div>
            <hr class="featurette-divider" style="margin-bottom: 0px;">
        </div>

        <div id="myCarousel" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="active">
                    <img class="bd-placeholder-img" width="100%" height="100%" src="/images/index_pic22.png"
                        aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
                    <rect width="100%" height="100%" /></img>
                    <div class="container">
                        <div class="carousel-caption">

                            <div class="row">
                                <div class="col">
                                    <p class="text-light" style="font-size: 100px;">8</p>
                                    <h4 class="card-title">TEACHERS</h4>

                                </div><!-- /.col-lg-4 -->
                                <div class="col">
                                    <p class="text-light" style="font-size: 100px;">+1k</p>
                                    <h4 class="card-title">STUDENTS</h4>
                                </div><!-- /.col-lg-4 -->
                                <div class="col">
                                    <p class="text-light" style="font-size: 100px;">4</p>
                                    <h4 class="card-title">TRANSLATIONS</h4>

                                </div><!-- /.col-lg-4 -->
                                <div class="col">
                                    <p class="text-light" style="font-size: 100px;">8</p>
                                    <h4 class="card-title">COURSES</h4>

                                </div><!-- /.col-lg-4 -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="featurette-divider" style="margin-bottom: 0px;">
        </div>
        <!-- /END THE FEATURETTES -->

        </div><!-- /.container -->
    </main>
    <!--        <footer class="footer bg-dark text-light d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 item">
                      <p class="copyright">Regent's Study Tool © 2023</p>
                    </div>
                    <div class="col-md-1 item text">
                            <a class="text-light" style="text-decoration: none;" href="#">Home</a>
                    </div>
                    <div class="col-md-1 item text">
                            <a class="text-light" style="text-decoration: none;" href="#">Contact</a>
                    </div>
                    <div class="col-md-2 item text">
                            <a class="text-light" style="text-decoration: none;" href="#">Terms and Conditions</a>
                    </div>
                </div>
            </div>
        </footer>-->
    <div class="container">
        <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 ">
            <p class="col-md-4 mb-0 text-muted">&copy; Exam Study Tool © 2023</p>

            <ul class="nav col-md-4 justify-content-end">
                <li class="nav-item"><a href="/student" class="nav-link px-2 text-muted">Home</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Contact</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Terms and Conditions</a></li>
            </ul>
        </footer>
    </div>

    <script src="/js/bootstrap.bundle.min.js"></script>
</body>

</html>