<!doctype html>
<html lang="en">


<%- include('t_head') %>
<body>
   
    <main style="background-color: #F1F1F7;">
        



        <div class="container">
            <div class="card" style="padding: 20px;">
                <div class="card-body" id="q1">
                    <!-- <div class="container mb-5"> -->
                        
                    <div class="row">
                        <div class="col-6 border-end">
                            <div class="row text-center border-bottom fw-bold" style="padding-bottom: 10px;">
                                <p>Questions</p>
                            </div>
                            <div class="row" style="padding: 10px;">
                                <p class="fw-bold">1.Students were asked to write \(2x^3 + 3x + 4x^2 + 1\) in standard
                                    form.</br>
                                    Four student responses are shown below.</br>
                                    Alexa: \(4x^2 + 3x + 2x^3 + 1\)</br>
                                    Carol: \(2x^3 + 3x + 4x^2 + 1\)</br>
                                    Ryan: \(2x^3 + 4x^2 + 3x + 1\)</br>
                                    Eric: \(1 + 2x^3 + 3x + 4x^2\)</br>
                                    Which student's response is correct?</p>
                                <div>
                                    <input type="radio" name="box" id="one">
                                    <input type="radio" name="box" id="two">
                                    <input type="radio" name="box" id="three">
                                    <input type="radio" name="box" id="four">
                                    <label for="one" class="box first">
                                        <div class="course">
                                            <span class="circle"></span>
                                            <span class="subject">Alexa</span>
                                        </div>
                                    </label>
                                    <label for="two" class="box second">
                                        <div class="course">
                                            <span class="circle"></span>
                                            <span class="subject">Carol</span>
                                        </div>
                                    </label>
                                    <label for="three" class="box third">
                                        <div class="course">
                                            <span class="circle"></span>
                                            <span class="subject">Ryan</span>
                                        </div>
                                    </label>
                                    <label for="four" class="box forth">
                                        <div class="course">
                                            <span class="circle"></span>
                                            <span class="subject">Eric</span>
                                        </div>
                                    </label>
                                </div>
                            </div>
                            <!-- row end col 1 -->
                            <div class="row" style="padding: 10px;">
                                <p class="fw-bold">2.Students were asked to write \(2x^3 + 3x + 4x^2 + 1\) in standard
                                    form.</br>
                                    Four student responses are shown below.</br>
                                    Alexa: \(4x^2 + 3x + 2x^3 + 1\)</br>
                                    Carol: \(2x^3 + 3x + 4x^2 + 1\)</br>
                                    Ryan: \(2x^3 + 4x^2 + 3x + 1\)</br>
                                    Eric: \(1 + 2x^3 + 3x + 4x^2\)</br>
                                    Which student's response is correct?</p>
                                <div>
                                    <input type="radio" name="box" id="one">
                                    <input type="radio" name="box" id="two">
                                    <input type="radio" name="box" id="three">
                                    <input type="radio" name="box" id="four">
                                    <label for="one" class="box first">
                                        <div class="course">
                                            <span class="circle"></span>
                                            <span class="subject">Alexa</span>
                                        </div>
                                    </label>
                                    <label for="two" class="box second">
                                        <div class="course">
                                            <span class="circle"></span>
                                            <span class="subject">Carol</span>
                                        </div>
                                    </label>
                                    <label for="three" class="box third">
                                        <div class="course">
                                            <span class="circle"></span>
                                            <span class="subject">Ryan</span>
                                        </div>
                                    </label>
                                    <label for="four" class="box forth">
                                        <div class="course">
                                            <span class="circle"></span>
                                            <span class="subject">Eric</span>
                                        </div>
                                    </label>
                                </div>
                            </div>
                            <!-- row end col 1 -->
                            <div class="row" style="padding: 10px;">
                                <p class="fw-bold">3.Students were asked to write \(2x^3 + 3x + 4x^2 + 1\) in standard
                                    form.</br>
                                    Four student responses are shown below.</br>
                                    Alexa: \(4x^2 + 3x + 2x^3 + 1\)</br>
                                    Carol: \(2x^3 + 3x + 4x^2 + 1\)</br>
                                    Ryan: \(2x^3 + 4x^2 + 3x + 1\)</br>
                                    Eric: \(1 + 2x^3 + 3x + 4x^2\)</br>
                                    Which student's response is correct?</p>
                                <div>
                                    <input type="radio" name="box" id="one">
                                    <input type="radio" name="box" id="two">
                                    <input type="radio" name="box" id="three">
                                    <input type="radio" name="box" id="four">
                                    <label for="one" class="box first">
                                        <div class="course">
                                            <span class="circle"></span>
                                            <span class="subject">Alexa</span>
                                        </div>
                                    </label>
                                    <label for="two" class="box second">
                                        <div class="course">
                                            <span class="circle"></span>
                                            <span class="subject">Carol</span>
                                        </div>
                                    </label>
                                    <label for="three" class="box third">
                                        <div class="course">
                                            <span class="circle"></span>
                                            <span class="subject">Ryan</span>
                                        </div>
                                    </label>
                                    <label for="four" class="box forth">
                                        <div class="course">
                                            <span class="circle"></span>
                                            <span class="subject">Eric</span>
                                        </div>
                                    </label>
                                </div>
                            </div>
                            <!-- row end col 1 -->
                            <div class="row" style="padding: 10px;">
                                <p class="fw-bold">4.Students were asked to write \(2x^3 + 3x + 4x^2 + 1\) in standard
                                    form.</br>
                                    Four student responses are shown below.</br>
                                    Alexa: \(4x^2 + 3x + 2x^3 + 1\)</br>
                                    Carol: \(2x^3 + 3x + 4x^2 + 1\)</br>
                                    Ryan: \(2x^3 + 4x^2 + 3x + 1\)</br>
                                    Eric: \(1 + 2x^3 + 3x + 4x^2\)</br>
                                    Which student's response is correct?</p>
                                <div>
                                    <input type="radio" name="box" id="one">
                                    <input type="radio" name="box" id="two">
                                    <input type="radio" name="box" id="three">
                                    <input type="radio" name="box" id="four">
                                    <label for="one" class="box first">
                                        <div class="course">
                                            <span class="circle"></span>
                                            <span class="subject">Alexa</span>
                                        </div>
                                    </label>
                                    <label for="two" class="box second">
                                        <div class="course">
                                            <span class="circle"></span>
                                            <span class="subject">Carol</span>
                                        </div>
                                    </label>
                                    <label for="three" class="box third">
                                        <div class="course">
                                            <span class="circle"></span>
                                            <span class="subject">Ryan</span>
                                        </div>
                                    </label>
                                    <label for="four" class="box forth">
                                        <div class="course">
                                            <span class="circle"></span>
                                            <span class="subject">Eric</span>
                                        </div>
                                    </label>
                                </div>
                            </div>
                            <!-- row end col 1 -->
                            <div class="row" style="padding: 10px;">
                                <p class="fw-bold">5.Students were asked to write \(2x^3 + 3x + 4x^2 + 1\) in standard
                                    form.</br>
                                    Four student responses are shown below.</br>
                                    Alexa: \(4x^2 + 3x + 2x^3 + 1\)</br>
                                    Carol: \(2x^3 + 3x + 4x^2 + 1\)</br>
                                    Ryan: \(2x^3 + 4x^2 + 3x + 1\)</br>
                                    Eric: \(1 + 2x^3 + 3x + 4x^2\)</br>
                                    Which student's response is correct?</p>
                                <div>
                                    <input type="radio" name="box" id="one">
                                    <input type="radio" name="box" id="two">
                                    <input type="radio" name="box" id="three">
                                    <input type="radio" name="box" id="four">
                                    <label for="one" class="box first">
                                        <div class="course">
                                            <span class="circle"></span>
                                            <span class="subject">Alexa</span>
                                        </div>
                                    </label>
                                    <label for="two" class="box second">
                                        <div class="course">
                                            <span class="circle"></span>
                                            <span class="subject">Carol</span>
                                        </div>
                                    </label>
                                    <label for="three" class="box third">
                                        <div class="course">
                                            <span class="circle"></span>
                                            <span class="subject">Ryan</span>
                                        </div>
                                    </label>
                                    <label for="four" class="box forth">
                                        <div class="course">
                                            <span class="circle"></span>
                                            <span class="subject">Eric</span>
                                        </div>
                                    </label>
                                </div>
                            </div>
                            <!-- row end col 1 -->
                            <div class="row text-center border-bottom fw-bold" style="padding-bottom: 10px;">
                                <div class="d-flex justify-content-center"> <button
                                        class="btn btn-primary px-4 py-2 fw-bold">SUBMIT</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 border-end">
                            <div class="row text-center border-bottom fw-bold" style="padding-bottom: 10px;">
                                <p>প্রশ্ন</p>
                            </div>
                            <div class="row" style="padding: 10px;">
                                <p class="fw-bold">1.শিক্ষার্থীদেরকে \(2x^3 + 3x + 4x^2 + 1\) রাশিটিকে স্বাভাবিক আকারে
                                    লিখতে বলা হল। চারজন শিক্ষার্থীর উত্তরগুলো নিচে দেখানো হয়েছে।</br>
                                    অ্যালেক্সা: \(4x^2 + 3x + 2x^3 + 1\)</br>
                                    ক্যারল: \(2x^3 + 3x + 4x^2 + 1\)</br>
                                    রায়ান: \(2x^3 + 4x^2 + 3x + 1\)</br>
                                    এরিক: \(1 + 2x^3 + 3x + 4x^2\)</br>
                                    কোন শিক্ষার্থীর উত্তরটি সঠিক?
                                </p>
                                <div>
                                    <input type="radio" name="box" id="t_one">
                                    <input type="radio" name="box" id="t_two">
                                    <input type="radio" name="box" id="t_three">
                                    <input type="radio" name="box" id="t_four">
                                    <label for="t_one" class="box t_first">
                                        <div class="course">
                                            <span class="circle"></span>
                                            <span class="subject" lang="bn"> অ্যালেক্সা</span>
                                        </div>
                                    </label>
                                    <label for="t_two" class="box t_second">
                                        <div class="course">
                                            <span class="circle"></span>
                                            <span class="subject">ক্যারল</span>
                                        </div>
                                    </label>
                                    <label for="t_three" class="box t_third">
                                        <div class="course">
                                            <span class="circle"></span>
                                            <span class="subject">রায়ান</span>
                                        </div>
                                    </label>
                                    <label for="t_four" class="box t_forth">
                                        <div class="course">
                                            <span class="circle"></span>
                                            <span class="subject">এরিক</span>
                                        </div>
                                    </label>
                                </div>
                            </div>
                            <!-- row end col 2 -->
                            <div class="row" style="padding: 10px;">
                                <p class="fw-bold">2.শিক্ষার্থীদেরকে \(2x^3 + 3x + 4x^2 + 1\) রাশিটিকে স্বাভাবিক আকারে
                                    লিখতে বলা হল। চারজন শিক্ষার্থীর উত্তরগুলো নিচে দেখানো হয়েছে।</br>
                                    অ্যালেক্সা: \(4x^2 + 3x + 2x^3 + 1\)</br>
                                    ক্যারল: \(2x^3 + 3x + 4x^2 + 1\)</br>
                                    রায়ান: \(2x^3 + 4x^2 + 3x + 1\)</br>
                                    এরিক: \(1 + 2x^3 + 3x + 4x^2\)</br>
                                    কোন শিক্ষার্থীর উত্তরটি সঠিক?
                                </p>
                                <div>
                                    <input type="radio" name="box" id="t_one">
                                    <input type="radio" name="box" id="t_two">
                                    <input type="radio" name="box" id="t_three">
                                    <input type="radio" name="box" id="t_four">
                                    <label for="t_one" class="box t_first">
                                        <div class="course">
                                            <span class="circle"></span>
                                            <span class="subject" lang="bn"> অ্যালেক্সা</span>
                                        </div>
                                    </label>
                                    <label for="t_two" class="box t_second">
                                        <div class="course">
                                            <span class="circle"></span>
                                            <span class="subject">ক্যারল</span>
                                        </div>
                                    </label>
                                    <label for="t_three" class="box t_third">
                                        <div class="course">
                                            <span class="circle"></span>
                                            <span class="subject">রায়ান</span>
                                        </div>
                                    </label>
                                    <label for="t_four" class="box t_forth">
                                        <div class="course">
                                            <span class="circle"></span>
                                            <span class="subject">এরিক</span>
                                        </div>
                                    </label>
                                </div>
                            </div>
                            <!-- row end col 2 -->
                            <div class="row" style="padding: 10px;">
                                <p class="fw-bold">3.শিক্ষার্থীদেরকে \(2x^3 + 3x + 4x^2 + 1\) রাশিটিকে স্বাভাবিক আকারে
                                    লিখতে বলা হল। চারজন শিক্ষার্থীর উত্তরগুলো নিচে দেখানো হয়েছে।</br>
                                    অ্যালেক্সা: \(4x^2 + 3x + 2x^3 + 1\)</br>
                                    ক্যারল: \(2x^3 + 3x + 4x^2 + 1\)</br>
                                    রায়ান: \(2x^3 + 4x^2 + 3x + 1\)</br>
                                    এরিক: \(1 + 2x^3 + 3x + 4x^2\)</br>
                                    কোন শিক্ষার্থীর উত্তরটি সঠিক?
                                </p>
                                <div>
                                    <input type="radio" name="box" id="t_one">
                                    <input type="radio" name="box" id="t_two">
                                    <input type="radio" name="box" id="t_three">
                                    <input type="radio" name="box" id="t_four">
                                    <label for="t_one" class="box t_first">
                                        <div class="course">
                                            <span class="circle"></span>
                                            <span class="subject" lang="bn"> অ্যালেক্সা</span>
                                        </div>
                                    </label>
                                    <label for="t_two" class="box t_second">
                                        <div class="course">
                                            <span class="circle"></span>
                                            <span class="subject">ক্যারল</span>
                                        </div>
                                    </label>
                                    <label for="t_three" class="box t_third">
                                        <div class="course">
                                            <span class="circle"></span>
                                            <span class="subject">রায়ান</span>
                                        </div>
                                    </label>
                                    <label for="t_four" class="box t_forth">
                                        <div class="course">
                                            <span class="circle"></span>
                                            <span class="subject">এরিক</span>
                                        </div>
                                    </label>
                                </div>
                            </div>
                            <!-- row end col 2 -->
                            <div class="row" style="padding: 10px;">
                                <p class="fw-bold">4.শিক্ষার্থীদেরকে \(2x^3 + 3x + 4x^2 + 1\) রাশিটিকে স্বাভাবিক আকারে
                                    লিখতে বলা হল। চারজন শিক্ষার্থীর উত্তরগুলো নিচে দেখানো হয়েছে।</br>
                                    অ্যালেক্সা: \(4x^2 + 3x + 2x^3 + 1\)</br>
                                    ক্যারল: \(2x^3 + 3x + 4x^2 + 1\)</br>
                                    রায়ান: \(2x^3 + 4x^2 + 3x + 1\)</br>
                                    এরিক: \(1 + 2x^3 + 3x + 4x^2\)</br>
                                    কোন শিক্ষার্থীর উত্তরটি সঠিক?
                                </p>
                                <div>
                                    <input type="radio" name="box" id="t_one">
                                    <input type="radio" name="box" id="t_two">
                                    <input type="radio" name="box" id="t_three">
                                    <input type="radio" name="box" id="t_four">
                                    <label for="t_one" class="box t_first">
                                        <div class="course">
                                            <span class="circle"></span>
                                            <span class="subject" lang="bn"> অ্যালেক্সা</span>
                                        </div>
                                    </label>
                                    <label for="t_two" class="box t_second">
                                        <div class="course">
                                            <span class="circle"></span>
                                            <span class="subject">ক্যারল</span>
                                        </div>
                                    </label>
                                    <label for="t_three" class="box t_third">
                                        <div class="course">
                                            <span class="circle"></span>
                                            <span class="subject">রায়ান</span>
                                        </div>
                                    </label>
                                    <label for="t_four" class="box t_forth">
                                        <div class="course">
                                            <span class="circle"></span>
                                            <span class="subject">এরিক</span>
                                        </div>
                                    </label>
                                </div>
                            </div>
                            <!-- row end col 2 -->
                            <div class="row" style="padding: 10px;">
                                <p class="fw-bold">5.শিক্ষার্থীদেরকে \(2x^3 + 3x + 4x^2 + 1\) রাশিটিকে স্বাভাবিক আকারে
                                    লিখতে বলা হল। চারজন শিক্ষার্থীর উত্তরগুলো নিচে দেখানো হয়েছে।</br>
                                    অ্যালেক্সা: \(4x^2 + 3x + 2x^3 + 1\)</br>
                                    ক্যারল: \(2x^3 + 3x + 4x^2 + 1\)</br>
                                    রায়ান: \(2x^3 + 4x^2 + 3x + 1\)</br>
                                    এরিক: \(1 + 2x^3 + 3x + 4x^2\)</br>
                                    কোন শিক্ষার্থীর উত্তরটি সঠিক?
                                </p>
                                <div>
                                    <input type="radio" name="box" id="t_one">
                                    <input type="radio" name="box" id="t_two">
                                    <input type="radio" name="box" id="t_three">
                                    <input type="radio" name="box" id="t_four">
                                    <label for="t_one" class="box t_first">
                                        <div class="course">
                                            <span class="circle"></span>
                                            <span class="subject" lang="bn"> অ্যালেক্সা</span>
                                        </div>
                                    </label>
                                    <label for="t_two" class="box t_second">
                                        <div class="course">
                                            <span class="circle"></span>
                                            <span class="subject">ক্যারল</span>
                                        </div>
                                    </label>
                                    <label for="t_three" class="box t_third">
                                        <div class="course">
                                            <span class="circle"></span>
                                            <span class="subject">রায়ান</span>
                                        </div>
                                    </label>
                                    <label for="t_four" class="box t_forth">
                                        <div class="course">
                                            <span class="circle"></span>
                                            <span class="subject">এরিক</span>
                                        </div>
                                    </label>
                                </div>
                            </div>
                            <!-- row end col 2 -->
                            <div class="row text-center border-bottom fw-bold" style="padding-bottom: 10px;">
                                <div class="d-flex justify-content-center"> <button
                                        class="btn btn-primary px-4 py-2 fw-bold">SUBMIT</button>
                                </div>
                            </div>
                        </div>

                        <div class="col-12" style="padding-top: 20px;">
                            <div class="d-flex justify-content-center">
                                <button class="btn btn-warning px-4 py-2 fw-bold" data-bs-toggle="collapse" data-bs-target="#collapseExample3" aria-expanded="false" aria-controls="collapseExample">Show
                                    Answer</button>
                            </div>
                        </div>
                    </div>

                    <div class="collapse" id="collapseExample3">
                    <div class="card-body border-bottom inv" id="answer">
                        <div class="row">
                            <div class="col-6 border-end">
                                <div class=" text-center fw-bold" style="padding-bottom: 10px;">
                                    <p>1. Alexa</p>
                                    <p>2. Alexa</p>
                                    <p>3. Alexa</p>
                                    <p>4. Alexa</p>
                                    <p>5. Alexa</p>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="text-center fw-bold" style="padding-bottom: 10px;">
                                    <p>1. অ্যালেক্সা</p>
                                    <p>2. অ্যালেক্সা</p>
                                    <p>3. অ্যালেক্সা</p>
                                    <p>4. অ্যালেক্সা</p>
                                    <p>5. অ্যালেক্সা</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
                <!-- ques end -->
            </div>
            
        </div>
        <hr class="featurette-divider" style="margin-bottom:0;">
    </main>

   


    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
    </script>

    <script>
        function ShowAndHide() {
            var x = document.getElementById('answer');
            if (x.className == 'inv') {
                x.className = 'vis';
            } else {
                x.className = 'inv';
            }
        }
    </script>
</body>

</html>